:host-context(body.dark-mode) .list-group-item {
  --bs-list-group-bg: var(--color-blanco);
  --bs-list-group-color: var(--color-negro);
  --bs-list-group-border-color: var(--color-gris-medio);
}

:host-context(body.dark-mode) .text-muted {
  color: var(--color-gris-oscuro) !important;
}

:host-context(body.dark-mode) .bg-success-subtle.text-success-emphasis {
  background-color: var(--color-primario-claro) !important;
  color: var(--color-negro) !important;
}

:host-context(body.dark-mode) .bg-warning-subtle.text-warning-emphasis {
  background-color: color-mix(in srgb, var(--color-secundario) 30%, var(--color-blanco)) !important;
  color: var(--color-negro) !important;
}