:host {
  display: inline-block;
}

.selector-fecha-caja {
  background: transparent;
  border: 1px solid var(--color-negro);
  border-radius: 10px;
  cursor: pointer;
  width: 45px;
  height: 45px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.selector-fecha-caja i {
  font-size: 30px;
  color: var(--color-negro);
}

.panel-filtro-fechas {
  min-width: 210px;
  border-radius: 12px;
  border: 1px solid var(--color-gris-claro);
  font-family: var(--font-textos);
}

.panel-filtro-fechas label {
  font-size: 12px;
  font-weight: 600;
  color: var(--color-negro);
}

.btn-restablecer-filtro {
  width: 100%;
  margin-top: 12px;
  padding: 7px 10px;

  background-color: var(--color-blanco);
  color: var(--color-primario);

  border: 1px solid var(--color-primario);
  border-radius: 8px;

  font-family: var(--font-textos);
  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
}

.btn-restablecer-filtro:hover {
  background-color: var(--color-primario-claro);
}
