:host {
  display: inline-block;
}

.selector-fecha-caja {
  background: transparent;
  border: 1px solid var(--color-negro);
  border-radius: 10px;
  cursor: pointer;
  width: 45px;
  height: 45px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.selector-fecha-caja i {
  font-size: 30px;
  color: var(--color-negro);
}

.panel-filtro-fechas {
  min-width: 210px;
  border-radius: 12px;
  border: 1px solid var(--color-gris-claro);
  font-family: var(--font-textos);
}

.panel-filtro-fechas label {
  font-size: 12px;
  font-weight: 600;
  color: var(--color-negro);
}
