html, body, app-root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  background-color: #FBF5F3;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', Arial, sans-serif;
}
