:host {
  display: block;
  min-height: calc(100vh - 70px);
  font-family: var(--font-textos);
}

.registro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1rem;
  box-sizing: border-box;
}

.registro-container {
  width: 100%;
  max-width: 560px;
}

.card-form {
  background: var(--color-primario-oscuro);
  border-radius: 33px;
  padding: 2.5rem 2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  border: none;
}

.header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.header h1 {
  margin: 0;
  color: var(--color-blanco);
  font-size: 1.8rem;
}

.header p {
  margin-top: 0.4rem;
  color: var(--color-crema);
  font-size: 0.95rem;
}

.button-group {
  margin-top: 1.5rem;
}

/* MODO OSCURO */

:host-context(body.dark-mode) .header h1,
:host-context(body.dark-mode) .header p,
:host-context(body.dark-mode) .form-group label {
  color: var(--color-negro);
}

:host-context(body.dark-mode) .form-group input,
:host-context(body.dark-mode) .form-group select {
  background-color: var(--color-negro);
  color: var(--color-blanco);
}

:host-context(body.dark-mode) .form-group input::placeholder {
  color: var(--color-gris-claro);
}

:host-context(body.dark-mode) .btn-formulario {
  color: var(--color-negro);
}

:host-context(body.dark-mode) .error-msg {
  color: var(--color-negro);
}